* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --primary: #F4F3F2;
    --secondary: #7c4dff;
    --green-text:  #1BE1AE;
    --green-hover:  #1be1af67;
    --green-active:  #1BE1AE;
    --empty-div: #c3c2c1;
    --red-text:  #E75F5B;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: white;
}

/* General classes */
.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.red-holidays {
    color: var(--red-text);
    transition: all 200ms;
}

.active-calendar-day{
    background: var(--green-text)!important;
}

.todo-content {
    color: black;
}

/* Specific element classes */
header {
    width: 100%;
    height: 10vh;
    background: var(--primary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

header i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--green-text);
}

h1 {
    font-size: 3rem;
    color: var(--green-text);
}

main {
    height: 90vh;
    overflow: hidden;
}

/* Todo section */
.todo-container {
    width: 100%;
    max-width: 25rem;
    height: 100%;
    background: var(--secondary);
    color: white;

    flex-direction: column;
    justify-content: space-around;
}


.time-day {
    flex-direction: column;
    align-items: center;
}

#time {
    font-size: 3rem;
}

#weekday {
    font-size: 2.5rem;
}

#date {
    font-size: 2.5rem;
    color: var(--green-text);
}


/* Add todo section */
.add-todo {
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}


.btn-style {
    padding: 1rem 4rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: var(--green-text);
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    cursor: pointer;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);   
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all ease .5s;
}
/*.btn-style:hover {
    background-color: #F4F3F2;
    color: var(--green-text);
    border: 3px solid var(--green-text)
}
*/

/* Display todo section */
.display-todo {
    flex-direction: column;
    align-items: center;
}

.display-todo h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.todo-item p {
    margin: 0 .5rem 0 .5rem;
    font-size: 1.2rem;
}

.todo-time {
    color: var(--green-text);
}

.todo-date-title{
    text-decoration: underline;
    padding-bottom: 0.5rem;
}

/* Calender section */
.calender-container {
    width: 100%;
    height: 100%;
    background: #b4b1ae;
    border: solid #b4b1ae 0.125rem ;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: .125rem;
}


.calender-nav {
    grid-column: 1/8;
    flex-direction: column;
    justify-content: space-between;
    background: var(--green-text);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  
    font-size: 2rem; 
}

.month {
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
}

.month i {
    cursor: pointer;
}
.month i:hover {
    color: var(--secondary);
}

.month h3{
    text-transform: capitalize;
}

.month h3:hover i:hover{
    color: var(--secondary);
}

.day-of-the-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.2rem;
}

.day-of-the-week span {
    text-align: center;
}

.half {
    display: none;
}

.calender-day {
    color: #313335;
    background: var(--primary);
    flex-direction: column;
    padding: .6rem;
    justify-content: space-between;
}

.calender-day:hover {
    background: var(--green-hover);
    cursor: pointer;
    color: white;
}



.holiday {
    font-size: .7rem;
}

.empty-day {
    background: var(--empty-div);
}

.empty-day:hover {
    background: var(--empty-div);
}

.calender-date {
    text-align: end;
}

.inactive-day {
    color: #b4b1ae;
}


/*Modal container*/
.modal-container{
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    margin: auto;
    background: var(--secondary);
    color: white;
    color: black;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    border: 5px solid var(--green-text);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);   
}
#todo-input {
    margin: 1rem 0rem;
    padding: 0.4rem 1.4rem;
    width: 17rem;
    height: 3rem;
    outline: none;
    font-size: 1.4rem;
    border: 3px solid var(--green-text);
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);   
}
.modal-h3{
    font-size: 2.5rem;
    color: var(--green-text);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.fa-times-circle{
    color:  #1BE1AE;
    font-size: 2.2rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);  
    position: absolute;
    margin: 0.7rem;
    top: 0;
    right: 0;
    transition: all ease .5s;

}
.fa-times-circle:hover {
    color:#F4F3F2;
}
.paragraph{

    color: white;
    font-size: 1.4rem;

}
.changeTodo{
    font-size: 1.2rem;
    margin: 0rem 1rem;
    color: #F4F3F2;
    transition: all ease .5s;
    cursor: pointer;
}
.changeTodo:hover{
    color: var(--green-text);

}
.deleteBtn{
    font-size: 1.2rem;
    transition: all ease .5s;
    cursor: pointer;
}
.todoDiv{
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    border: 3px solid var(--green-text);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);  
}
.deleteBtn:hover{
    color: var(--red-text);
}